### Introduction to tuple data type

In [2]:
# () ---> used to define the tupel data type variable

anu = ('female','CSE')

print(anu)

('female', 'CSE')

In [3]:
# tuple is immutable ---> cannot be changed once it is created

anu[0] = 'male'

TypeError: 'tuple' object does not support item assignment

In [4]:
# tuple is immutable, so we cannot change it, 
# but we can able to recreate the variable again, 
# but cant overwrite or modify

anu = ('female','Software')
print(anu)

('female', 'Software')

### Introduction to dictionary data type

In [5]:
# {} ---> used to define the tuple data type variable

student1 = {'name':'anu','gender':'female','location':'chennai'}

print(student1)

{'name': 'anu', 'gender': 'female', 'location': 'chennai'}

In [9]:
# dicionary is a key value pair data type, 
# in order to access the value, we can use the key 

print(f"Student 1 Details:\n\tName: {student1['name'].title()}\n\tGender: {student1['gender'].title()}\n\tLocation: {student1['location'].title()}")

Student 1 Details:
	Name: Anu
	Gender: Female
	Location: Chennai

### Simple exercise to print set of student data using list, for, dictionary, if else and string methods

In [16]:
student2 = {'name':'ram','gender':'male','location':'tamilnadu'}
student3 = {'name':'latha','gender':'female','location':'india'}
Student_list = [student1,student2,student3]
count = len(Student_list)
i = 0
for student in Student_list:
    if count>=0:
        print(f"Student {i} Details:\n\tName: {student['name'].title()}\n\tGender: {student['gender'].title()}\n\tLocation: {student['location'].title()}")
    else:
        break
    i = i+1

Student 0 Details:
	Name: Anu
	Gender: Female
	Location: Chennai
Student 1 Details:
	Name: Ram
	Gender: Male
	Location: Tamilnadu
Student 2 Details:
	Name: Latha
	Gender: Female
	Location: India